profiles {
    oke {
        k8s {
            namespace = 'default'
            //storageClaimName = 'default-nextflow-fss-storage-work-pvc'
            //storageMountPath = '/data'
            //launchDir = "/mnt/OKEshare/run_dir"

            serviceAccount = 'default'
            runAsUser = 501
            //projectDir = '/OKEshare/project'
            pod = [
                [label: 'pod-type', value: 'nextflow-worker'],
                //[volumeClaim: 'fss-pvc', mountPath: '/mnt/OKEshare']
            ]
        }

        process {
            executor = 'k8s'
            container = 'ubuntu'
        }
    }
}